<!-- chaliwebpage/templates/userprofile.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This webpage accepts and validates user data"> 
        <title>Chali WebPage</title>
    </head>
    <body style="background-color: lightblue;">
        <h1 style="color: blue;">Chali WebPage </h1>
        <p>
        <hr/>
        <h2 style="color: red;background-color: blue;padding: 15px;border: 5px solid green;border-radius: 100%;margin: top 10px;"> User Profile Form</h2>
        <section 1>
            <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <input autocomplete="off" autofocus type="submit" value="Submit"; style="background-color:whitesmoke">    
            </form>
            <br/>
                <aside>(...A Django-Mysql WebPage that collects and validates user input...)  </aside>
        </section 1>
        <hr/>
        <iframe src="https://crystalrivers.co.ke"width=1300 height=300> Sorry</iframe>
    </body>
        <footer>
        <h5> Github:https://github.com/CharlesMbillo/chaliwebproject.git @ Copyright 2023</h5>
        </footer>
        <hr/>
    </html>



<!-- Define the HTML template for the web page -->
<!DOCTYPE html>
<html>
<head>
    <title>Chali WebPage</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Chali WebPage</h1>
    <h2>User Data Form</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input autocomplete="off" autofocus type="text" id="first_name" name="first_name" value="{{ first_name }}">
        <label for="last_name">Last Name:</label>
        <input autocomplete="off" autofocus type="text" id="last_name" name="last_name" value="{{ last_name }}">
        <label for="phone_number">Phone Number:</label>
        <input autocomplete="off" autofocus type="text" id="phone_number" name="phone_number" value="{{ phone_number }}">
        <label for="email">Email:</label>
        <input autocomplete="off" autofocus type="email" id="email" name="email" value="{{ email }}">
        <button type="submit">Submit</button>
        {% if errors %}
            <ul class="error">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
    <hr/>
    <h5 style="background-color: whitesmoke;"> Github:https://github.com/CharlesMbillo/chaliwebproject.git @ Copyright 2023</h5>
    <hr/>
</body>
</html>

